@import '~antd/lib/style/themes/default.less';
.container {
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 5px;
  .title {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
  }
  .content {
    padding: 10px 0;
  }
  .comments {
    margin-top: 20px;
  }
}
