@import '~antd/es/style/themes/default.less';
.banner_container {
  display: flex;
  ul,
  li {
    margin: 0;
    padding: 0;
  }
}
.carousel {
  width: 690px;
  height: 320px;
  margin-right: 10px;
  border-radius: 5px;
}
// .carousel_item{
// }
.topItem li {
  width: 180px;
  height: 100px;
  margin-bottom: 10px;
  background-color: cadetblue;
  border-radius: 5px;
}
.topItem li:last-of-type {
  margin-bottom: 0;
}
